.login-container {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    border-radius: 12px;
    background: #fff;
  }
  