.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.login-icon {
  margin-top: 5px;
  margin-right: 5px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid #CACCCB;
  margin-left: 30px; 
  padding-bottom: 5px; 
  height: 22px;
}

.search-icon {
  margin-right: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  height: 16px; 
}